//******************
// Color Variables
//******************
$shamrock: #2CD4AE; //Shamrock Green Used for text links and headers
$turquoise: #4FE3C0; //Shamrock Green Used for text links and headers

//******************
// Breakpoints
//******************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
// @media(max-width: #breakpoint-desktop){};

//******************
// Font Weights
//******************
$font-light: "Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-light: "Gotham-Book", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-light: "Gotham-Medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-light: "Gotham-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;